@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-font: 'Lexend', sans-serif;
  }
  
*,body {
    font-family: var(--main-font);
    scroll-behavior: smooth;
    animation-duration: 700;
  }


  .card {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .q{
    --animate-delay: 0.3s;
  }
  .w{
    --animate-delay: 0.7s;
  }
 .e {
    --animate-delay:0.9s;
 }
 .card-1 {
    --animate-delay: 1.3s;
 }
 .card-2 {
    --animate-delay: 1.9s;
 }
 .head {
  --animate-delay:0.5s;
 }
 .head2 {
  --animate-delay:0.9s;
 }
 .imgabout {
  --animate-delay: 0.7s ;
 }
 .imgabout2 {
  --animate-delay: 1s ;
 }